// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.gist {
  table { 
  	tr {
  		background-color: #002b36;
  	}
  	td.line-data { width: 100%; }
  }
}

html .gist .gist-file {
  .gist-meta {
    a[href*='#file'] {
      right:0;
    }
  }
}